@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
::selection {
  background: #b9fd5c !important;
  color: black !important;
}

* {
  font-family: "Sora", sans-serif;
}
body {
  background-color: #111214;
}
.tableHead {
  font-family: "Lato", sans-serif !important;
}
.tablebody {
  font-family: "Sora", sans-serif !important;
}

.serialHeading {
  font-family: "Dancing Script", cursive !important;
  font-optical-sizing: auto;
}
/* src/index.css */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.15s ease-out;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2a2c2f;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #0ecb6f;
}

/* src/index.css */
.sidebar-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sidebar-scroll::-webkit-scrollbar {
  display: none;
}
/* src/index.css */
.main-scroll::-webkit-scrollbar {
  width: 6px;
}

.main-scroll::-webkit-scrollbar-track {
  background: #111214;
}

.main-scroll::-webkit-scrollbar-thumb {
  background: #2a2c2f;
  border-radius: 10px;
}

.main-scroll::-webkit-scrollbar-thumb:hover {
  background: #0ecb6f;
}
